* {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

@supports (padding-top: constant(safe-area-inset-top)) {
    html {
      --safe-area-inset-top: constant(safe-area-inset-top);
      height: calc(100% + var(--safe-area-inset-top));
    }
}

@supports (padding-top: env(safe-area-inset-top)) {
    html {
      --safe-area-inset-top: env(safe-area-inset-top);
      height: calc(100% + var(--safe-area-inset-top));
    }
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr auto;
}

header {
    height: 60px;
    background: blue;
    line-height: 60px;
    text-align: center;
    color: #fff;
}

main {
    padding: 20px;
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 70px;
}

footer {
    min-height: 60px;
    height: auto;
    background: red;
    text-align: center;
    color: #fff;
    position: sticky;
    bottom: 0;
}